﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="WebForm1.aspx.vb" Inherits="agaleri.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 900px;
        }
        .auto-style4 {
            text-align: center;
            height: 30px;
        }
        .auto-style5 {
            height: 150px;
        }
        .auto-style6 {
            height: 23px;
        }
        .auto-style7 {
            text-align: left;
            height: 30px;
            width: 271px;
        }
        .auto-style8 {
            text-align: right;
        }
        .auto-style9 {
            width: 900px;
            height: 150px;
        }
        .auto-style10 {
            width: 900px;
            height: 716px;
        }
    </style>
</head>
<body style="text-align: center">
    <form id="form1" runat="server">
        <table class="auto-style1" align="center">
            <tr>
                <td colspan="4" class="auto-style5">
                    <img alt="" class="auto-style9" src="resim/751168_1367349_900_150_kv900x150.jpg" /></td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style8">
&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
            </tr>
            <tr>
                <td class="auto-style4">
                    <asp:Button ID="Button1" runat="server" BackColor="#3399FF" BorderColor="#66FF99" Height="43px" Text="ANASAYFA" Width="221px" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button2" runat="server" BackColor="#3399FF" BorderColor="#66FF99" Height="42px" Text="HAKKIMIZDA" Width="232px" />
                </td>
                <td class="auto-style4">
                    <asp:Button ID="Button3" runat="server" BackColor="#3399FF" BorderColor="#66FF99" Height="40px" Text="HİZMETLERİMİZ" Width="222px" />
                </td>
                <td class="auto-style7">
                    <asp:Button ID="Button4" runat="server" BackColor="#3399FF" BorderColor="#66FF99" Height="41px" Text="İLETİŞİM" Width="219px" />
                </td>
            </tr>
            <tr>
                <td colspan="4" class="auto-style6">
                    <br />
                    <br />
                    <img alt="" class="auto-style10" src="resim/10013656_10203439267251650_1341615537_n.jpg" /></tr>
        </table>
    </form>
</body>
</html>
